@{Layout = null;}

<div class="jumbotron">
    <h1>Autocomplete example</h1>
    <p>Pick one name from a total of 250,000 combination</p>
    <input class="js-email-autocomplete" name="words" type="text" />
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $(".js-email-autocomplete").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '/Home/AutoComplete',
                data: { prefix: request.term },
                type: "GET",
                cache: true
            }).done(function (data) {
                response($.map(data,
                    function (item) {
                        return item;
                    }));
            }).fail(function (response) {
                alert(response.responseText);
            });
        },
        select:
            function (e, i) {
                $(".js-email-autocomplete").val(i.item.val);
            },
        minLength: 1
    });
</script>